@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E8F0F5;
  --foreground: #393939;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #E8F0F5;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}




/* css styles for creating line draw in the category to subcategory sidebar */

/* Subcategory container */
.subcategory-container {
  margin-left: 20px;
  padding-left: 20px;
  position: relative;
}

/* Lines connecting subcategories */
.subcategory-item::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 5px;
  bottom: 10px;
  width: 2px;
  height: 100%;
  border-left: 2px dotted #1FA45B;
  background: none;
}


/* Subcategory name */
.subcategory-name {
  cursor: pointer;
  margin-left: 10px;
}


/* Dua items */
.dua-item {
  margin-left: 20px;
  cursor: pointer;
  padding-left: 10px;
}


/* Hover states */
.category-name:hover,
.subcategory-name:hover,
.dua-item:hover {
  color: #0070f3;
}
